header{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 36px 0;
}
header ul{
  width: 429px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
header ul li a{
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}