.wrapper{
  position: absolute;
  width: 2px;
  height: 25px;
  background: red;
  top: 50px;
  left: 2px;
}
input{
  position: absolute;
  width: 500px;
  height: 20px;
  top: 50px;
  left: 0px;
}
button:hover + form .wrapper{
  transform: scaleX(426);
  transition: 5s;
}